<h1>Assignment 5 - Fancy Signup</h1>
<p>This is the assignment instructions paragraph...</p>
<button onclick="location.href='/Account/Signup'">Signup</button>
<button onclick="location.href='/Account/Login'">Login</button>
